body {
	padding-top: 75px;
}

.pointer {
	cursor: pointer;
}

.done-form {
	margin-bottom: 15px;
}

.done-edit {
	height: 20px;
}

.navbar-right {
	margin-right: 15px;
}

.navbar-link {
	font-weight: bold;
}
